* {
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

a path {
  filter: drop-shadow(0 4px 2px rgba(5, 175, 241, 0.822));
  fill: rgba(247, 0, 0, 0.068);
  transition: ease-out 1.5s;
}

a:hover path {
  fill: rgba(5, 175, 241, 0.822);
}
